/* ESTILO FILTRADO */
.contFiltrado{
	box-shadow: 0 3px 0px #ccc;
	border-radius: 1px;
	background: white;
	padding: 0 0 0 20px;
	margin-bottom: 20px;
}

.contFiltrado h4{
	color: rgb(140, 3, 21);
}

.form-group{
	display: inline-block;
	margin: 0 10px 10px 0;
}

/* ESTILO ACTIVIDAD CLIENTES */
.contInstalacion h1{
	color: rgb(140, 3, 21);
	text-align: center;
}

.contInstalacion h2, .contInstalacion .contBtn, .contInstalacion .lead{
	text-align: right;
}
.contInstalacion .col-md-push-5 h2, .contInstalacion .col-md-push-5 .contBtn, .contInstalacion .col-md-push-5 .lead{
	text-align: left;
}

.contInstalacion a.btn{
	font-size: 20pt;
	text-align: right;
	padding: 0 20px;
}

.imagen img {
	 max-width: 100%;
	 height: 300px;
}

/* ESTILO ACTIVIDAD ADMINISTRACION */
.contTitulo{
	margin: 20px 0;
}
.contTitulo h1{
	color: rgb(140, 3, 21);
}

#tInstalaciones th{
	background: rgb(140, 3, 21);	
}

#tInstalaciones th a{
	color: white;
}

#tInstalaciones tbody a{
	margin: 0 10px;
}
