/* Contenedor del formulario */
body{
	padding-top: 40px;
	padding-bottom: 40px;
}

.contForm{
	background: white;
	box-shadow: 0 0 20px #ccc;
	border-radius: 8px;
}

.contTitFormulario h2{
	display: inline-block;
	box-shadow: 0 2px 0px #ccc;
	border-radius: 1px;
	color: rgb(140, 3, 21);
}

.help-block{
	color:  rgb(140, 3, 21);
}

.form-group{
	display: inline-block;
	margin: 0 10px 10px 0;
}

/* formulario login */
.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}


