body {	
	margin: auto;
	background: rgb(247, 247, 247);
}

#conte{	
	position: relative;
	top: 50px;	
}

.navbar-default{
	background-color: #CE0058;
}

.navbar-default li>a, .navbar-default .navbar-header a{
	color: white !important;
}

.navbar-default .active>a{
	background: #b5004d !important;
}

.navbar-default li:hover{
	background: #b5004d !important;
}

.navbar-default .dropdown-menu a{
	color: black !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #b5004d !important;
  border-color: #b5004d !important;
}



/* Boton */
.btn-default {
  color: #fff;
  background-color: #CE0058;
  border-color: #CE0058;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #b5004d;
  border-color: #b5004d;
}
