body {	
	margin: auto;
	background: rgb(247, 247, 247);
	min-height: 100%;
}

a{
	color: rgb(140, 3, 21);
}

#conte{	
	position: relative;
	top: 50px;	
}

.navbar-default{
	background-color: rgb(166, 3, 25);
}

.navbar-default li>a, .navbar-default .navbar-header a{
	color: white !important;
}

.navbar-default .active>a{
	background:  rgb(140, 3, 21) !important;
}

.navbar-default li:hover{
	background:  rgb(140, 3, 21) !important;
}

.navbar-default .dropdown-menu a{
	color: black !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color:  rgb(140, 3, 21) !important;
  border-color:  rgb(140, 3, 21) !important;
}

.navbar-right{
	margin-right: 20px;
}

/* Boton */
.btn-default {
  color: #fff;
  background-color: rgb(166, 3, 25);
  border-color: rgb(166, 3, 25);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color:  rgb(140, 3, 21);
  border-color:  rgb(140, 3, 21);
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: rgb(183, 62, 78);
  border-color: rgb(183, 62, 78);
}


/* PIE DE PAGINA */
footer{
	margin-top: 500px;
	
}
footer .featurette-divider{
	border-top: 3px solid #eee;
}

/* VENTANA MODAL */
.modal{
	background-color: white;
	width: 560px;
	height: 225px;
	left: 25%;
	top: 25%;
	padding-right: 0 !important;
	border-radius: 6px;	
	box-shadow: 10px 10px 5px #888888; 

}

